* {
    margin: 0;
    padding: 0;
}

.main {
    width: 900px;
    height: 700px;
    border: 3px solid black;
    margin: 10px auto;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}

.kotak1 {
    transition: transform 3s, margin-left cubic-bezier(0.58, -0.65, 0.41, 1.63) 3s 3s, background-color 3s 6s, border 3s;
}

.main:hover .kotak {
    transform: rotate(720deg);
    margin-left: 800px;
    background-color: aliceblue;
    border: 1px solid black;
    box-sizing: border-box;
}