* {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(About2.jpeg);
}

.fb img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    right: 200px;
    border-radius: 50%;
}

.topbar {
    background-color: rgb(66, 94, 175);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    background-color: rgb(158, 158, 158);
    margin: auto;
    width: 950px;
    border-left: 4px solid rgb(56, 56, 56);
    border-right: 4px solid rgb(56, 56, 56);
    padding: 20px;
}

ul li {
    display: block;
    margin: 20px;
    float: right;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    border-left: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(195, 246, 255);
    padding-right: 8px;
    padding-left: 3px;
    transition: 0.2s;
}

ul li a:hover {
    padding: 9px;
    font-size: 16px;
    color: white;
    background-color: brown;
    border-radius: 5px;
}

p {
    font-size: 16px;
}

.title h1 {
    font-size: 40px;
    padding: 10px 0;
    text-align: left;
    font-weight: bold;
    letter-spacing: 3px;
    float: left;
    color: rgb(195, 246, 255);
}

.hero img {
    display: block;
    margin: 70px auto;
}

.indo {
    font-style: italic;
    font-weight: bold;
    color: rgb(58, 47, 47);
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.footer {
    display: block;
    background-color: rgb(136, 136, 136);
    padding: 20px;
}

.title h2 {
    margin: 5px 0;
}

.title h4 {
    margin-bottom: 10px;
}

.name {
    color: rgb(15, 2, 39);
    text-decoration: underline;
    font-weight: bolder;
}

.about,
.product,
.cart,
.account {
    margin-bottom: 20px;
}

.subtitle {
    margin-bottom: 5px;
}

.description {
    width: 500px;
    text-align: justify;
    float: left;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.penulis {
    float: left;
    width: 150px;
}

.clear-1:before,
.clear-1:after {
    content: "";
    display: table;
}

.clear-1:after {
    clear: left;
}

.author {
    width: 400px;
    margin-left: 20px;
    float: left;
}

.author h3 {
    margin-bottom: 10px;
}

.author img {
    width: 140px;
    height: 190px;
}

.about-author {
    margin-top: 25px;
    text-align: justify;
}

.about-author h4 {
    margin-bottom: 7px;
}