h1 {
    font-size: 100px;
    color: #123123;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: overline;
}

p {
    text-align: center;
    text-indent: 100px;
    letter-spacing: 1px;
    word-spacing: 10px;
}

ul li {
    display: inline;
    margin-left: 10px;
}

html {
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
}

.satu {
    color: #fff;
    box-sizing: border-box;
    margin: auto;
    width: 280px;
    height: 280px;
    padding: 20px;
    border: 5px dashed #4beaff;
    background-color: #123123;
}